<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            id="rap.app.entrypoint"
            class="rap.app.AppEntryPoint"
            path="/app"/>
   </extension>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
            id="rap.app.perspective"
            class="rap.app.ui.Perspective"
            name="App"/>
   </extension>

   <extension point="org.eclipse.ui.views">
      <view
            id="rap.app.mainView"
            class="rap.app.ui.MainView"
            name="Main"/>
   </extension>
</plugin>
